
body {
    background-color: #ffffff;
}

#ship {
width: 50px;
height: 50px;
}

.yourBoardCell {
    background-color: #37A86C;
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 0px 1px #ffffff inset;
    float: left;
    cursor: pointer;
}

.enemyBoardCell {
    background-color: #37A86C;
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 0px 1px #ffffff inset;
    float: left;
    cursor: pointer;
}

.yourBoardCell:hover {
    background-color: #8ADBB0;
}

.enemyBoardCell:hover {
    background-color: #8ADBB0;
}

.numberLabel {
    position: relative;
    width: 50px;
    height: 50px;
    float: left;
}

.numText { 
    position: absolute;
    bottom: 0;
    left: 50%;
}

.letterLabel {
    position: relative;
    width: 50px;
    height: 50px;
    float: left;
}

.letText {
    position: absolute;
    line-height: 50px;
    right: 0;
    color: black;
}

#yourBoard {
    position: relative;
    float: left;
    background-color: #ffffff;
    height: 450px;
    width: 450px;
    margin-left: 20px;
    margin-right: auto;
}

#enemyBoard {
    position: relative;
    float: right;
    background-color: #ffffff;
    height: 450px;
    width: 450px;
    margin-left: auto;
    margin-right:40px;
}