@import 'style.css';
#higherResolution{            
  display:none;
}
@media (max-height: 1200px) and (max-width: 200px) {
  #higherResolution{                   
    display:inline-block;
  }
}
.general {
    margin: auto;
    width: 60%;
    padding: 10px;
    position: relative;
}


