@import 'style.css';
#higherResolution{            
  display:none;
}
@media (max-height: 1200px) and (max-width: 200px) {
  #higherResolution{                   
    display:inline-block;
  }
}
.general {
    margin: auto;
    width: 60%;
    padding: 10px;
    position: relative;
}
.title {
  margin: auto;
  text-align: center;
  color: #555;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #EDEDED 3px 2px 0;
}



