<!DOCTYPE html>
<html>
<head>  
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BottleShip</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/game.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/style.css" />
    
</head>
<body>
  <header>
    <div class = "title">BottleShip Game<div></div>
          
  </header>
  
    <div id = "messageBoard">Place your ships on the board.</div>

        <div class="row">
          <div class="column" style="background-color:#aaa;">

            <br>
            <div class = "descriptionTexts">
            <h2 class = "description">Your Board</h2>
            </div>
            <div class ="gameBoard" id="board1">
            </div>
                
          </div>

          <div id = "enemyColumn" class="column" style="background-color:#ccc;">
            <br>
            <h2 id = "enemyBoardTitle" class = "boardTitle"></h2>

            <div id = "board2">

                <button id="Button" onclick="startGame()">start the game</button>
                <br>
                <br>
                <button id="Button" onclick="rotate()">Change Ship Rotation</button>
                <br>
                <br>
                <div  id = "nextShip">Next ship's length is 5</div>
                <div id = "curRotation">Current rotation is: Horizontal</div>
                  
                  <br>

            </div>

            
    
          </div>
        </div>

    
    
    <!-- <button id="myShipsButton" onclick="yourShips()">show my ships</button> -->
    <!-- <script src="../public/javascripts/messages.js"></script>  -->
    <script src="../javascripts/game.js"></script>
    

</body>
<footer>
    <button id ="fullScreenButton" onclick="openFullscreen();">Press to Fullscreen Mode</button>
    <div class = "descriptionAnimated" id= "authors">Made by Csanad and Eniko. Powered by hot chocolate.</div>
</footer>
</html>
