<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BottleShip</title>
    <!-- for the media queries-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/splash.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/style.css" />

    
</head>
<body>
    <div class = "general">
        <div id = "higherResolution"><p>Your screen resolution is too small. This game works better at higher resolution</p></div>
        <div class="title">Welcome to BottleShip </div>
        <div class="subTitle">A BattleShip Game</div>    
        <section class= "descriptionTexts">
            <p class = "descriptionAnimated"> BottleShip is a BattleShip game, in which you need to break all 
                        the opponent's bottles which have been carelessly 
                        left on the floor after a Friday's night party. </p>
                
            <p class = "description">Good luck and don't litter!</p> 
            

            <form action="/play">
                <button id ="Button">Start the game</button>
            </form>
        </section>

        <h><%= distinctUsersPlayed %> 
            <%if (distinctUsersPlayed != 1) { %>
                players
            <% } else { %>
                player
            <% } %>
            played, 

            <%=  yourGamesCount %> 
            <%if (yourGamesCount != 1) { %>
                games
            <% } else { %>
                game
            <% } %>
            is your play count, 

            <%=  yourWinsCount %> 
            <%if (yourWinsCount != 1) { %>
                games
            <% } else { %>
                game
            <% } %>
            you won.
        </h2>
    </div>

    <script id = "picture" src="../javascripts/splash.js"></script>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  
</body>
<footer>
    <img src="images/splashPic.jpg"> 
     <!--fullscreen-->
    <button id ="fullScreenButton" onclick="openFullscreen();">Press to Fullscreen Mode</button>
    <div class = "descriptionAnimated" id = "authors">Made by Csanad and Eniko. Powered by hot chocolate.</div>
</footer>
</html>
